*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    color: white;
    font-family: 'Roboto';
    position: flex;
}

header{
    background: url('visual/family.jpg');
    height: 240px;
    background-size: cover;
    background-repeat: no repeat;
    position: relative;
}

section{
    max-width: 1000px;
    margin: auto;
    padding: 0%;
    border-width: 0px;
}

section h1{
    font-size: 80px;
    font-style:oblique;
    text-shadow: 1px 5px 2px rgb(80, 75, 75);
    border-color: black;
    color: whitesmoke;
    left: 50%   
}

article{
    display: flex;
    justify-content:center;
    
}

#messageIn {
    margin: 40px;
    border-radius: 3px;
    background-color: #f7e9cf;
    border: 3px solid #2D5286;
    position: flex;
    left: 20%;
    
}

#offset{
    margin: 40px;
    margin-top: 150px;
    background-color:white;
    border: 3px solid hsl(59, 77%, 62%);
    outline: none;
    position: absolute;
    top: 42%;
    right: 42%;



}

#coding{
    margin:40px 10px;
    margin-top: 150px;
    width: 150px;
    background-color: #ae89e7;
    border-radius: 50px;
    font-size: 23px;
    font-family: 'Roboto';
    color: white;
    text-shadow: 1px black;
    border: 2px solid #69398B;
}

#decoding{
    margin:40px 10px;
    margin-top: 150px;
    width: 150px;
    background-color: #ae89e7;
    border-radius: 50px;
    font-size: 23px;
    font-family: 'Roboto';
    color: white;
    text-shadow: 1px black;
    border: 2px solid #69398B;

}

#messageOut{
    margin:40px;
    border-radius: 3px;
    background-color: #f7e9cf;
    color: black;
    border: 3px solid #2D5286;
    
}


footer{
    font-family: 'Roboto';
    background-color: #ae89e7;
        
}

img{
    height: 50px;
    
}

#textFooter{
    text-align-last: right;
    font-size: 25px;
    margin-right: 15px;  
    margin-bottom: 0; 
}





